.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.aboutText {
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: white;
}

#aboutTitle {
  margin-top: 100px;
  font-size: 8rem;
} 

#pAbout {
  font-size: 1.6rem;
  word-spacing: 2px;
  margin-bottom: 20px;
  /* height: 500px; */
}

#profilePicAbout {
  width: 90%;
  max-width: 200px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.aboutFooter {
  background-color: #DCDCDC;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 820px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    justify-content: center;
  }
  #aboutTitle {
    font-size: 7rem;
    margin-top: 100px;
  }

  .aboutText {
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: white;
    margin-top: 130px;
  }

  #pAbout {
    font-size: 1.4rem;
    word-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
  }

  #profilePicAbout {
    margin-top: 40px;
    width: 160px;
  }

  .aboutFooter {
    background-color: #DCDCDC;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
}