header {
  background-color: #937047;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#projects, #about, #contact, #skills {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.lsLogo {
  width: 80px;
}