.header, .headerr {
  background-color: #87CEFA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#projects, #about, #contact, #skills {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#skills:hover, #projects:hover, #about:hover, #contact:hover {
  opacity: 0.5;
}

.lsLogo {
  width: 90%;
  max-width: 80px;
  border-radius: 100%;
}

@media (max-width: 540px) {
  nav {
    display: none;
  }

}