* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040405;
  font-family: 'Bebas Neue';
} 

.imgDiv {
  margin-top: 30px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.text1 {
  color: white;
  font-size: 120px;
  transition: all 0.3s ease-out;
}

.text1:hover {
  color: #87CEFA;
  transform: translateY(-10px);
}

.textp {
  color: white;
  font-size: 20px;
}

.btn-home {
  font-size: 20px;
  font-family: 'Bebas Neue';
  margin-top: 30px;
  cursor: pointer;
  background-color: white;
  width: 230px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  
}

.btn-home:hover {
  background-color: #87CEFA;
}

#profilePic {
  width: 220px;
  margin-bottom: 25px;
}

.aboutTextHome {
  width: 500px;
  text-align: center;
  color: white;
}

.aboutTextHome2 {
  background-color: #09090b;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 700px;
}

#aboutTitleHome {
  margin-top: 30px;
  font-size: 80px;
} 

#pAboutHome {
  word-spacing: 2px;
}

#allContactHome {
  text-align: center;
  height: 500px;
 }
 
 #allContactTextHome {
  margin-top: 60px;
  font-size: 30px;
  text-align: center;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  }

  .contactTitleHome {
    margin-top: 30px;
    margin-bottom: 130px;
    color: white;
    text-align: center;
    font-size: 60px;
  }
 
  #allContactImgHome {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
 } 
 
 .linkedinImgHome {
  /* background-color: white; */
  /* border-radius: 10px; */
   width: 40px;
   height: 40px;
   transition: all 0.3s ease-out;
 }

.linkedinImgHome:hover {
  opacity: 0.5;
  transform: translateY(-10px);
}
 
.emailImgHome {
  /* border-radius: 30px; */
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-out;
}

.emailImgHome:hover {
  opacity: 0.5;
  transform: translateY(-10px);
}
 
.linkedinAHome {
   text-decoration: none;
   color: black;
 }
 
.emailAHome {
   text-decoration: none;
   color: black;
}

.projectsTitleHome {
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 60px;
}

.projectsHome {
  display: flex;
  background-color: #09090b; 
  height: 700px;
  justify-content: center;
  align-items: flex-start;
}
