* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #241f1c;
  font-family: 'Bebas Neue';
}  

.imgDiv {
  margin-top: 150px;
  margin-left: 30px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.text1 {
  color: #e7dac7;
  font-size: 120px;
}

.textp {
  color: white;
  font-size: 20px;
}

.btn-home {
  width: 130px;
}

#profilePic {
  width: 220px;
  margin-top: -15px;
  margin-bottom: 25px;
}

.aboutTextHome {
  width: 500px;
  text-align: center;
  color: white;
}

.aboutTextHome2 {
  background-color: #937047;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 700px;
}

#aboutTitleHome {
  font-size: 40px;
  margin-bottom: 10px;
} 

#pAboutHome {
  word-spacing: 2px;
}

#allContactHome {
  text-align: center;
  display: flex;
  margin-left: 180px;
  margin-top: 400px;
 }
 
 #allContactTextHome {
   margin-top: 30px;
   margin-left: 230px;
   text-align: center;
   display: flex;
   flex-direction: column;
   color: white;
  }
 
 #allContactImgHome {
   margin-left: 140px;
   width: 50%;
   display: flex;
 }
 
 .linkedinImgHome {
   width: 60px;
   height: 60px;
   margin-right: 10px;
   margin-top: 30px;
 }
 
 .emailImgHome {
   width: 60px;
   height: 60px;
   margin-right: 10px;
   margin-top: 30px;
 }
 
 .linkedinAHome {
   text-decoration: none;
   margin-left: 10px;
   margin-right: 100px;
   color: black;
 }
 
 .emailAHome {
   text-decoration: none;
   color: black;
 }

.projectsTitleHome {
  color: white;
  width: 500px;
  text-align: center;
  margin-left: 400px;
  margin-top: 300px;
  font-size: 40px;
}

.projectsHome {
  background-color: #937047;
  height: 700px;
}
