.projectsTitle {
  color: white;
  margin-top: 100px;
  font-size: 100px;
  text-align: center;
}

.projectsFooter {
  background-color: #DCDCDC;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}
