.projects {
  height: 100vh;
}

.projectsTitle {
  color: white;
  margin-top: 100px;
  font-size: 8rem;
  text-align: center;
}

.projectsFooter {
  background-color: #DCDCDC;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
}

@media (max-width: 820px) {
  .projectsTitle {
    font-size: 7rem;
    margin-top: 300px;
  }
}