.skillTitle {
  margin-top: 100px;
  font-size: 4rem;
}

.skill {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.imgt {
  display: flex;
  width: 100%; 
  max-width: 85px;
  justify-content: center;
  align-items: center;
}

.skillsFooter {
  background-color: #DCDCDC;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}