.skillTitle {
  margin-top: 100px;
  font-size: 8rem;
}

.skill {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.imgt {
  display: flex;
  width: 90%; 
  max-width: 85px;
  justify-content: center;
  align-items: center;
}

.skillsFooter {
  background-color: #DCDCDC;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
}

@media (max-width: 820px) {
  .skill {
     height: 700px;
    /* margin-top: 100px; */
  }

  .skillTitle {
    /* margin-top: 250px; */
    font-size: 7rem;
  }
}